.row	
	.jumbotron
		.text-center
			.h1.center-block My messages : 

- if @messages.count > 0 
	- @messages.each do |mess|
		.box.panel.panel-default
			.panel-body
				.row
					.col-md-8
						.col-md-6
							%h3 Title :

						.col-md-6
							.well
								= mess.title 
						

						.col-md-6
							%h3 Content :
						.col-md-6
							.well
								= link_to "go", post_private_message_path(mess)

					.col-md-4.text-center
						- @posts.each do |post|
							- if mess.post_id == post.id 
								= link_to (image_tag  post.image.url(:medium)) , post , class: 'center-block'
								

					

						
			.panel-footer
				.row	
					.col-md-4
						%h5  #{time_ago_in_words mess.created_at} ago
						
					.col-md-4	
							
						%h5 from :#{ mess.email}
						
						

					.col-md-4
						
						
					
- else
	.row	
		.jumbotron
			.text-center
				%h3.center-block You don't have any message yet !

= will_paginate @messages , renderer: BootstrapPagination::Rails