.container
	.row	
		.jumbotron
			.text-center
				.h1.center-block My Watches : 

	.posts.col-md-10.col-md-offset-1

		- if @posts.count > 0

			
			- @posts.each do |post|
				.row.boxpost
					
						
					.col-xs-3
						.imgbox
							= link_to (image_tag  post.image.url(:medium)) , post

					.col-xs-9
						.col-xs-8.col-sm-8
							.text
								.title= link_to post.title , post
								= post.brand
								%br
								= post.model
								%br
								= post.year

						.col-xs-4.col-sm-4
							.price
								%br.hidden-sm.hidden-md.hidden-lg
								= post.price
								= post.currency
								%br
								%br
								.hidden-xs= link_to "More details" , post , class: "btn btn-primary"
								.hidden-sm.hidden-md.hidden-lg= link_to "Go" , post , class: "btn btn-primary"
								%br
								%br.hidden-xs
								%br.hidden-xs
								%br.hidden-xs

			= will_paginate @posts , renderer: BootstrapPagination::Rails
		- else 
			.row
				.jumbotron
					.text-center
						%h2.center-block You didn't post any watch yet !
			%br
			= link_to "Sell a watch", new_post_path , class: "btn btn-success center-block"

	
