.container
	.text-center.h1.title
		Profile
	%br
		
	
	.filter.boxpostuser.text-center
		.row
			
			.col-sm-6.text-center
				
					
						
				.avatar= image_tag  @user.avatar.url(:medium)

			.col-sm-6
				%h1 User: 
				= @user.pseudo
				%h2 Email :
				= @user.email

.container
	

	- if @posts.count > 0
		.container
			.h1.title.text-center= @user.pseudo 
			.text-center watches 
			%br
			.posts.col-md-10.col-md-offset-1

				- @posts.each do |post|
					.row.boxpost
						
							
						.col-xs-3
							.imgbox
								= link_to (image_tag  post.image.url(:medium)) , post

						.col-xs-9
							.col-xs-8.col-sm-8
								.text
									.title= link_to post.title , post
									= post.brand
									%br
									= post.model
									%br
									= post.year

							.col-xs-4.col-sm-4
								.price
									%br.hidden-sm.hidden-md.hidden-lg
									= post.price
									= post.currency
									%br
									%br
									.hidden-xs= link_to "More details" , post , class: "btn btn-primary"
									.hidden-sm.hidden-md.hidden-lg= link_to "Go" , post , class: "btn btn-primary"
									%br
									%br.hidden-xs
									%br.hidden-xs
									%br.hidden-xs

				= will_paginate @posts , renderer: BootstrapPagination::Rails

	- else 
		.container
			.col-md-12
				.well
				
					%h2.center-block No watches available for this user.
			

