.container

	.col-md-6
		.well
			%h1 User: 
			= @user.pseudo
			%h2 Email :
			= @user.email
	.col-md-6
		- if @user.avatar.present?
			.well
				
				= image_tag  @user.avatar.url(:medium)


#posts.transitions-enabled

	- if @posts.count > 0


		
				
		.jumbotron
			.row
				.text-center
					.h1.center-block Watches : 

	
		.row		
			- @posts.each do |post|
				.col-md-6.col-lg-3
					.box.panel.panel-default
						- if post.image.present?

							= link_to (image_tag  post.image.url) , post
						.panel-body
							%h2= link_to post.title , post
	- else 
		.container
			.col-md-12
				.well
				
					%h2.center-block No watches available for this user.
			

= will_paginate @posts , renderer: BootstrapPagination::Rails