.container

	
	.filter
		.row
			.col-md-6
				%h1 User: 
				= @user.pseudo
				%h2 Email :
				= @user.email
			.col-md-6
				- if @user.avatar.present?
					
						
					= image_tag  @user.avatar.url(:medium)


.posts.transitions-enabled

	- if @posts.count > 0
		.container
			.h1.title.text-center= @user.pseudo 
			.text-center watches 
			%br


			- @posts.each do |post|
				.row.boxpostuser
					
						
					.col-sm-3
						.imgbox
							= link_to (image_tag  post.image.url(:medium)) , post

					.col-sm-9
						.col-xs-6.col-sm-8
							.text
								.title= link_to post.title , post
								= post.brand
								%br
								= post.model
								%br
								= post.year

						.col-xs-6.col-sm-4
							.price

								= post.price
								= post.currency
								%br
								%br
								= link_to "More details" , post , class: "btn btn-primary"
								%br
								%br
								%br
								%br

			= will_paginate @posts , renderer: BootstrapPagination::Rails

	- else 
		.container
			.col-md-12
				.well
				
					%h2.center-block No watches available for this user.
			

= will_paginate @posts , renderer: BootstrapPagination::Rails