
.filter
  = simple_form_for @post, html: { multipart: true } do |f|
    - if @post.errors.any?
      #errors
        %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved
        %ul
          - @post.errors.full_messages.each do |message|
            %li= message
    
    .form-group
      = f.input :title, input_html: { class: 'form-control',:maxlength => 40, :size => 40}

    .form-group
      = f.input :brand,  collection: [:"A. Lange & Söhne", :"Alain Silberstein", :Apple, :"Audemars Piguet", :"Baume & Mercier", :"Bell & Ross", :Blancpain, :Boucheron, :Breguet , :Breitling, :"B.R.M" , :"Carlo Ferrara", :"Carls F.Bucherer",:Cartier, :Chaumet , :Chopard, :"De Bethune", :"De Grisogono", :Dewit, :Dior, :"Dolce & Gabana", :Eterna,:"F.P.Journe", :"Franck Muller", :"Frederique Constant", :"Girard Perregaux", :"Glashütte Original", :Gucci, :Guess, :"Gérald Genta", :Hamilton, :Hermès, :Hublot, :Ikepod, :IWC, :"Jacob & Co.",  :"Jaeger-LeCoultre", :"Jaquet-Droz", :JeanRichard, :"Laurent Ferrier", :"Linde Werdelin", :Lip, :Longines, :"Louis Vuitton", :Marcus , :Mauboussin, :"Maurice Lacroix", :"Mb&f", :"Michel Herbelin", :Montblanc, :"Mühle Glashütte",  :Omega,  :Panerai, :"Parmigiani Fleurier",  :"Patek Philippe", :Piaget ,:"Pierre Kunz", :"Raymond Weil", :"Richard Mille", :"Roger Dubuis",  :Rolex,  :"Romain Jerome", :"S.T Dupont", :"TAG Heuer", :Tissot, :Tudor, :"Ulysse Nardin",  :"Vacheron Constantin", :"Van Cleef & Arpels", :Vogard, :Vulcain,  ],input_html: { class: 'form-control'}

    .form-group
      = f.input :model, input_html: { class: 'form-control'}

    
    .form-group
      = f.input :year,  input_html: { class: 'form-control'} 

    .form-group
      = f.input :price,  input_html: { class: 'form-control',:inputmode => "numeric", :pattern => "[0-9]*", :type => "number"}
    .form-group  
      = f.input :currency, collection: [:USD, :EUR, :GBP]

    .form-group
      = f.input :condition, collection: [:new, :used], input_html: { class: 'form-control'}
    %br
    .title.h5 Optionnal :
    
    .form-group
      = f.input :description, input_html: { class: 'form-control'}

    
    .form-group
      = f.input :availability, collection: [:now, :soon], input_html: { class: 'form-control'}

    

    .form-group
      = f.input :location,  input_html: { class: 'form-control'}

    .form-group
      = f.input :shipping,  collection: [:worldwide, :country, :ask_us], input_html: { class: 'form-control'}

    .form-group
      = f.input :movement,  input_html: { class: 'form-control'}

    .form-group
      = f.input :case, :label => "case material" , input_html: { class: 'form-control'}
    
    .form-group
      = f.input :bracelet, :label => "bracelet material" ,  input_html: { class: 'form-control'}

    .form-group
      = f.input :dial,:label => "dial color" ,  input_html: { class: 'form-control'}

    .form-group
      = f.input :functions,  input_html: { class: 'form-control'}
    %br
  
  
    .form-group
      
      
      - if @post.image.present?
        
        %br
        At least one image is needed, if you want to change the actual, just select a new one and clic update post.
        %br
        %br
        Actual image :
        %br
        %br
        = image_tag @post.image.url(:thumb)
        %br
      
      - else 
        .title.h5 Fisrt image must be set !
        
      %br
      
      = f.file_field :image
      %br
      - if @post.image2.present?
        = image_tag @post.image2.url(:thumb)
        = f.label :remove_image
        = f.check_box :remove_image2
      %br
    .form-group
      = f.file_field :image2
      %br
      - if @post.image3.present?
        = image_tag @post.image3.url(:thumb)
        = f.label :remove_image
        = f.check_box :remove_image3
      %br
    .form-group
      = f.file_field :image3
      %br
      %br


  
    = f.button :submit, class: "btn btn-primary", data: { disable_with: "Please wait..." }
    %br
    %br
    %br
    = link_to 'Cancel', posts_path , class: "btn btn-warning" 

    %br
    %br
    %br

