
.jumbotron.text-center.header


		
			
	.h1 Welcome to Watchpurist !
	.h3 the best way for selling or buying luxury watches
	%br
	%br
	= form_tag posts_path, method: :get do
		= text_field_tag :q, nil, placeholder: "Search ...", class: "search"
		%br
		%br
		- if @query == "*" 

		- else 
			%h3 Results for search : #{@query}
			
			%br
			= link_to "Clear", root_path

	%br	
	
		
.container
	.col-md-3
		.filter
			- if @posts.aggs["brand"].present?
				.h4 Brands :
				%br
				%ul.menu
					- @posts.aggs["brand"]["buckets"].each do |filter|
						%li= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/posts?brand=#{filter["key"]}"
						- if current_page?("/posts?brand=#{filter["key"]}")
							- if @posts.aggs["model"].present?
								.h6 Models :
								%ul.menu
									- @posts.aggs["model"]["buckets"].each do |filter|
										%li= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/posts?model=#{filter["key"]}"
									%br
	.col-md-9.posts
		

		
			
		- @posts.each do |post|
			.row.boxpost
				
					
				.col-sm-3
					.imgbox
						= link_to (image_tag  post.image.url(:medium)) , post

				.col-sm-9
					.col-xs-6.col-sm-8
						.text
							.title= link_to post.title , post
							= post.brand
							%br
							= post.model
							%br
							= post.year

					.col-xs-6.col-sm-4
						.price

							= post.price
							= post.currency
							%br
							%br
							= link_to "More details" , post , class: "btn btn-primary"
							%br
							%br
							%br
							%br

		= will_paginate @posts , renderer: BootstrapPagination::Rails
					
						
						
	
	

%br
%br
