
.jumbotron.text-center.header.multilogo

	 
		
			
	.h1 Welcome to Watchpurist !
	.h3 the best way to sell or buy luxury watches
	%br
	%br
	= form_tag posts_path, method: :get do
		= text_field_tag :q, nil, placeholder: "Search ...", class: "search"
	%br

	.col-md-12.visible-sm.visible-xs.browse
		.title.h4.visible-xs.visible-sm or

		.text-center.title.h3.dropdown 
			%button#dropdownMenu1.btn.btn-success.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
				Select a brand
				%span.caret
			%ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}

				- @posts_alphabet.aggs["brand"]["buckets"].each do |filter|
					%li.list-group-item= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/?brand=#{filter["key"]}"
					- if current_page?("/?brand=#{filter["key"]}")
						
						- if @posts.aggs["model"].present?
							.panel.panel-default
							%br
								.panel-heading Models :
								.panel-body
									%ul.list-group
										- @posts.aggs["model"]["buckets"].each do |filter|
											%li.list-group-item= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/?model=#{filter["key"]}"
								%br			
		%br
		%br
		- if @query == "*" 

		- else 
			.h3.title Results for  : #{@query}
			
			%br
			= link_to "Clear", root_path, class: "btn btn-primary"

	%br	
	
		

									

.container
	.col-md-3.hidden-sm.hidden-xs
		.panel.panel-default
			- if @posts.aggs["brand"].present?
				.panel-heading Brands :
				%br
				.panel-body
					%ul.list-group
						- @posts_alphabet.aggs["brand"]["buckets"].each do |filter|
							%li.list-group-item= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/?brand=#{filter["key"]}"
							- if current_page?("/?brand=#{filter["key"]}")
								
								- if @posts.aggs["model"].present?
									.panel.panel-default
									%br
										.panel-heading Models :
										.panel-body
											%ul.list-group
												- @posts.aggs["model"]["buckets"].each do |filter|
													%li.list-group-item= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/?model=#{filter["key"]}"
										%br
		%br


	
					
									
	.col-md-9.posts
		

		- if  current_page?("/")

			
			.filter 
				.h3.text-center.title Last Watches
			%br
			

			
		- @posts.each do |post|
			.row.boxpost
				
					
				.col-xs-3
					.imgbox
						= link_to (image_tag  post.image.url(:medium)) , post

				.col-xs-9
					.col-xs-8.col-sm-8
						.text
							.title
								- if post.title.scan(/[\w-]+/).size < 2
									= link_to truncate(post.title, :length => 12) , post
								- else 
									= post.title
							= post.brand
							%br
							.hidden-sm.hidden-md.hidden-lg
								#{truncate(post.model, :length => 12)}
							.hidden-xs
								= post.model
							%br
							= post.year



					.col-xs-4.col-sm-4
						.price
							%br.hidden-sm.hidden-md.hidden-lg
								- if post.price.present?
									= post.price
									= post.currency
								- else 
									contact us
							%br
							%br
							.hidden-xs= link_to "More details" , post , class: "btn btn-primary"
							.hidden-sm.hidden-md.hidden-lg= link_to "Go" , post , class: "btn btn-primary"
							%br
							%br.hidden-xs
							%br.hidden-xs
							%br.hidden-xs

		= will_paginate @posts , renderer: BootstrapPagination::Rails,inner_window: 3, outter_window: 1
					
						
.jumbotron.trust.text-center

	
	.row.hidden-xs
		
		= image_tag('Trust.png')
	.row.hidden-sm.hidden-md.hidden-lg
		= image_tag('Trust-mob.png')

	

%br
%br
