
.jumbotron.text-center.header


		
			
	.h1 Welcome to Watchpurist !
	.h3 the best way for selling or buying luxury watches
	%br
	%br
	= form_tag posts_path, method: :get do
		= text_field_tag :q, nil, placeholder: "Search ...", class: "search"
		%br
		%br
		- if @query == "*" 

		- else 
			%h3 Results for search : #{@query}
			
			%br
			= link_to "Clear", root_path

	%br	
	
		
.container

	.col-md-9	
		#posts.transitions-enabled

		
				
			- @posts.each do |post|
				.col-xs-6.col-sm-4.col-md-3
				.box.panel.panel-default
					- if post.image.present?

						= link_to (image_tag  post.image.url(:large)) , post
					.panel-body
						%h2= link_to post.title , post
						Brand :
						= post.brand
						%br
						Model :
						= post.model 
						%br
						%br
						Price :
						= post.price
						= post.currency
	.col-md-3
		.well
			- if @posts.aggs["brand"].present?
				%span Brand
				%ul.menu
					- @posts.aggs["brand"]["buckets"].each do |filter|
						%li= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/posts?brand=#{filter["key"]}"

			- if @posts.aggs["model"].present?
				%span Model
				%ul.menu
					- @posts.aggs["model"]["buckets"].each do |filter|
						%li= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/posts?model=#{filter["key"]}"
	= will_paginate @posts , renderer: BootstrapPagination::Rails


