
.jumbotron.text-center.header.multilogo

	 
		
			
	.h1 Welcome to Watchpurist !
	.h3 the best way to sell or buy luxury watches
	%br
	%br
	= form_tag posts_path, method: :get do
		= text_field_tag :q, nil, placeholder: "Search ...", class: "search"
		%br
		%br
		- if @query == "*" 

		- else 
			%h3 Results for search : #{@query}
			
			%br
			= link_to "Clear", root_path

	%br	
	
		
.container
	.col-md-3
		.filter
			- if @posts.aggs["brand"].present?
				.h4 Brands :
				%br
				%ul.menu
					- @posts_alphabet.aggs["brand"]["buckets"].each do |filter|
						%li= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/watch?brand=#{filter["key"]}"
						- if current_page?("/watch?brand=#{filter["key"]}")
							- if @posts.aggs["model"].present?
								.h6 Models :
								%ul.menu
									- @posts.aggs["model"]["buckets"].each do |filter|
										%li= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/watch?model=#{filter["key"]}"
								%br
		%br
									
	.col-md-9.posts
		

		- if  current_page?("/")

			
			.filter 
				.h3.text-center.title Last Watches
			%br
			

			
		- @posts.each do |post|
			.row.boxpost
				
					
				.col-xs-3
					.imgbox
						= link_to (image_tag  post.image.url(:medium)) , post

				.col-xs-9
					.col-xs-8.col-sm-8
						.text
							.title= link_to post.title , post
							= post.brand
							%br
							= post.model
							%br
							= post.year

					.col-xs-4.col-sm-4
						.price
							%br.hidden-sm.hidden-md.hidden-lg
							= post.price
							= post.currency
							%br
							%br
							.hidden-xs= link_to "More details" , post , class: "btn btn-primary"
							.hidden-sm.hidden-md.hidden-lg= link_to "Go" , post , class: "btn btn-primary"
							%br
							%br.hidden-xs
							%br.hidden-xs
							%br.hidden-xs

		= will_paginate @posts , renderer: BootstrapPagination::Rails
					
						
						
	
	

%br
%br
