.container
  #post_show.row


      
    .col-md-6

      .panel.panel-default
        .panel-heading.post_image
          - if @post.image.present?
            = image_tag @post.image.url(:large)
          - if @post.image2.present?  
            = image_tag @post.image2.url(:large)
          - if @post.image3.present?
            = image_tag @post.image3.url(:large)


    .col-md-6.col-md-6-offset-2    
      .panel.panel-default
        .panel-body
          %h1= @post.title
          %p.description= @post.description
          %p
          
          %p.brand
            Brand :
            = @post.brand
          %p.model
            Model :
            = @post.model

          %p.price
            Year :
            = @post.year 


          %p.price
            - if @post.condition.present?
              Condition :
              = @post.condition

          %p.price
            - if @post.movement.present?
              Movement :
              = @post.movement

          %p.price
            - if @post.case.present?
              Case Material :
              = @post.case

          %p.price
            - if @post.dial.present?
              Dial :
              = @post.dial

          %p.price
            - if @post.bracelet.present?
              Bracelet Material :
              = @post.bracelet

          %p.price
            - if @post.functions.present?
              Functions :
              = @post.functions

          %p.price
            - if @post.availability.present?
              Availability :
              = @post.availability

          %p.price
            - if @post.shipping.present?
              Shipping :
              = @post.shipping

          %p.price
            %strong Price :
            %strong 
            = @post.price
            = @post.currency
        
        .panel-footer
          .row
            .col-md-6
              %p.user

                Submited by
                = @post.user.pseudo 
                %br
                
            .col-md-6
              .btn-group.pull-right
                - if @post.user == current_user
                  = link_to "Edit", edit_post_path(@post), class: "btn btn-default"
                  = link_to 'Destroy' , @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
                = link_to 'Back', 'javascript:history.go(-1);', class: "btn btn-default"
                %br


      - if @post.user != current_user 
        .row
          .panel.panel-default
            .panel-body
              .text-center
                = link_to "contact seller", new_post_private_message_path(@post), class: "btn btn-success center-block"
    







