.container
  #post_show.row


      
    .col-md-6

      
        
      #myCarousel.carousel.slide{"data-interval" => "false"}
        / Indicators
        %ol.carousel-indicators
          
          
            
          - if @post.image2.present?
            %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
            
          - if @post.image3.present? 
            %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        / Wrapper for slides
        .carousel-inner{:role => "listbox"}
          
          - if @post.image.present?
            .item.active.post_image
              = image_tag @post.image.url(:large)
          - if @post.image2.present?
            .item.post_image
              = image_tag @post.image2.url(:large)
          - if @post.image3.present?
            .item.post_image
              = image_tag @post.image3.url(:large)
        / Left and right controls
        - if @post.image2.present? || @post.image3.present?
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next

      


    .col-md-6    
      .panel.panel-default
        .panel-body
          %h1= @post.title
          %p.description= @post.description
          %br
          
          %p.brand
            Brand :
            = @post.brand
          %p.model
            Model :
            = @post.model

          %p.price
            Year :
            = @post.year 


          %p.price
            - if @post.condition.present?
              Condition :
              = @post.condition

          %p.price
            - if @post.movement.present?
              Movement :
              = @post.movement

          %p.price
            - if @post.case.present?
              Case Material :
              = @post.case

          %p.price
            - if @post.dial.present?
              Dial :
              = @post.dial

          %p.price
            - if @post.bracelet.present?
              Bracelet Material :
              = @post.bracelet

          %p.price
            - if @post.functions.present?
              Functions :
              = @post.functions

          %p.price
            - if @post.availability.present?
              Availability :
              = @post.availability

          %p.price
            - if @post.shipping.present?
              Shipping :
              = @post.shipping
          
          %br
          %p.price
            %strong Price :
            %strong 
            - if @post.price.present?
              = @post.price
              = @post.currency
            - else
              Contact us.
        
        .panel-footer
          .row
            - if @post.user != current_user 
        
              .col-xs-6
                
                .text-center
                  = link_to "contact seller", new_post_private_message_path(@post.friendly_id), class: "btn btn-success center-block"
        
            .col-xs-6
              .btn-group.pull-right
                - if @post.user == current_user
                  = link_to "Edit", edit_post_path(@post), class: "btn btn-default"
                  = link_to 'Destroy' , @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
                = link_to 'Back', 'javascript:history.go(-1);', class: "btn btn-default"
                %br
        
      %br
      %br

      
    
      .share.col-md-6
        .col-xs-3

          = pin_it_button  media: @post.image.url(:large), description: @post.title
        .col-xs-3
          = fb_like_button 
        .col-xs-3
          = twitter_share_button
        .col-xs-3 
          = google_plus_button size: 'medium', annotation: 'none'


        
- if @post.user != current_user         
  .container
    
    .row

      %br
      .title.h2.text-center Seller Info 
      %br
      %br  
        
      .boxpostuser.text-center.filter
        
        .row
    
          .col-sm-6.text-center
      
        
          
            .avatar= image_tag  @post.user.avatar.url(:medium)

          .col-sm-6
            .h1.title= @post.user.pseudo 
            
            %br
            - if @post.user.address.present?
              = @post.user.address
            - else 
              address not available
      %br
      %br      

/ - else
/   .container
/     .row
/       .col-md-6.filter
/         .title.h3 Displayed 
/         = pluralize(@post.impressionist_count(:filter=>:ip_address), "time")
        
      






